#include "Pods/Target Support Files/Pods-StreetFighterV/Pods-StreetFighterV.debug.xcconfig"
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
BUNDLE_DISPLAY_NAME = Frame for SFV
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = HKDHURHY83
INFOPLIST_FILE = $(SRCROOT)/StreetFighterV/Resources/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 11.4
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks'
PRODUCT_BUNDLE_IDENTIFIER = com.nonchalant.StreetFighterV
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
