<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>REPLACE ME</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>REPLACE ME</string>
	<key>CLIENT_ID</key>
	<string>REPLACE ME</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>REPLACE ME</string>
	<key>API_KEY</key>
	<string>REPLACE ME</string>
	<key>GCM_SENDER_ID</key>
	<string>REPLACE ME</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nonchalant.StreetFighterV</string>
	<key>PROJECT_ID</key>
	<string>REPLACE ME</string>
	<key>STORAGE_BUCKET</key>
	<string>REPLACE ME</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>REPLACE ME</string>
	<key>DATABASE_URL</key>
	<string>REPLACE ME</string>
</dict>
</plist>
